main.md {
  /* background: rgba(0, 0, 0, 0.3); */
  background-position: center top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("http://placehold.it/350x150");
  background-size: auto;
  color: white;
}
main.md {
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding-left: 10%;
}
main.md h2 {
  text-shadow: 0 0 10px white;
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
}
main.md > * {
  margin-bottom: 12px;
}
main.md p {
  max-width: 50vw;
}
.btn:not(:hover) {
  border: 1px solid white !important;
  color: white;
}
/* a.btn:hover {
        border: none;
      } */
main.md div span {
  border: 2px solid white;
  border-radius: 21px;
  padding: 5px 7px;
  margin-right: 8px;
}
span.time {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
